@import "tailwindcss";

@theme {
  --font-display: var(--font-goldman);
  --font-sans: var(--font-geist-sans);

  --color-rovera-black: #000000;
  --color-rovera-primary: #A6F6FF;
}

@layer base {
  :root {
    --font-display: var(--font-goldman);
    --font-sans: var(--font-geist-sans);
  }

  body {
    background-color: var(--color-rovera-black);
    color: #fff;
    font-family: var(--font-sans);
    letter-spacing: 0;
  }
  button, a, [role="button"] {
    cursor: pointer;
  }
}

.font-display {
  font-family: var(--font-display);
}